.navigation-item-style {
    color: white;
    transition: 0.35s;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin-top: 17px;
    font-size: 20px;
    font-weight: 300;
    display: block;
}

.home-icon-style {
    height: 50px;
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
}