h1.footer-after::after {
    content: '';
    width: 5.8em;
    height: 4px;
    background-color: #37a7ff;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    transform: translate(-70px, 10px);
}